{% load bootstrap5 %}

<div class="card mt-2 col-12 border-0" style="max-width: 500px">
    <div class="card-header border-0 bg-white">
        <div class="row">
            <div class="col-1">
                <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">
                    {% if post.user.profile_image %}
                    <img src="{{ post.user.profile_image.url }}" alt="" class="rounded-circle" width="30px">
                    {% else %}
                    <img src="/media/profile/default.jpg" alt="" class="rounded-circle" width="30px">
                    {% endif %}
                </a>
            </div>
            <div class="col-10">
                <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">
                    <b>{{ post.user }}</b>
                </a>
                <span>{{ post.time_since_created }}</span>
            </div>
            <div class="col-1 m-0 p-0">
                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="border-0 bg-white m-0 p-0">
                    <i class="bi bi-three-dots m-0 p-0"></i>
                </button>
                {% include '_modal.html' %}
            </div>
        </div>
    </div>

    <div class="card-body">
        <img src="{{ post.image.url }}" class="img-fluid">
        <div class="mt-2">
            
                {% if user in post.like_users.all %}
                <i class="bi bi-heart-fill heart" style="color:red" data-post-id="{{post.id}}">{{ post.like_users.count }}</i>
                {% else %}
                <i class="bi bi-heart heart" data-post-id="{{post.id}}">{{ post.like_users.count }}</i>
                {% endif %}
            
            &nbsp;
            <i class="bi bi-chat-right"></i>&nbsp;&nbsp;
            <i class="bi bi-send"></i>
        </div>
        <div>
            {% if post.like_users.all.count %}
            <p>{{ post.like_users.count }}명이 좋아합니다.</p>
            {% endif %}
        </div>
        <div>
            <p class="card-text">
                <a href="{% url 'accounts:profile' username=post.user %}" class="text-reset text-decoration-none">
                    <b>{{post.user}}</b>
                </a>
                {{ post.content }}
            </p>
        </div>
        
        <div>
            {% include '__comment.html' %}
        </div>
        <div>
            <form action="{% url 'posts:comment_create' id=post.id %}" method="post" class="comment-form">
                {% csrf_token %}
                {% bootstrap_form form show_label=False %}
                <input type="submit" value="submit" class ="inactive">
            </form>
        </div>
        
    </div>

</div>