<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">신고하기</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">팔로우 취소</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">즐겨찾기에 추가</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">게시물로 이동</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">공유 대상...</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">링크 복사</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">퍼가기</p>
            </div>
            <div class="modal-header border-botom justify-content-center">
                <p class="mb-0" id="exampleModalLabel">이 계정 정보</p>
            </div>
            <div class="modal-footer justify-content-center">
                <p class="mb-0" id="exampleModalLabel">취소</p>
            </div>
        </div>
    </div>
</div>